body, html {
    height: initial;
    min-height: 100%;
}

html {
    background: linear-gradient(to top, #d9dfe4 0%,rgba(255,255,255,1) 100%) #d9dfe4; 
    background-repeat: no-repeat;
}

body {
    background: transparent;
    background: linear-gradient(135deg, rgba(92,136,224,1) 0%,rgba(68,51,140,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

header {
    color: rgba(255,255,255,0.6);
    /*background: linear-gradient(135deg, rgba(92,136,224,1) 0%,rgba(68,51,140,1) 100%);*/
    padding: 66px 30px 0;
    border-radius: 10px;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.4em;
}

header img {
    display: block;
    float: right;
    width: 50%;
    transform: rotate(30deg);
    margin: -11% 10px -50px;
}

@media (max-width:530px) {
    header img {
        display: none;
    }
}

header h1 {
    color: #FFF;
}

header button,
footer button,
header button[type="submit"],
footer button[type="submit"] {
    background: #FFAA2A;
    color: #FFF;
    padding: 10px 30px;
    border-bottom: 4px solid #C27400;
    font-size: 1.3em;
}

header button:hover,
footer button:hover,
header button[type="submit"]:hover,
footer button[type="submit"]:hover {
    background: #FFBE5C;
    color: #FFF;
    border-bottom-width: 3px;
    margin-top: 1px;
}

header button:active,
footer button:active,
header button[type="submit"]:active,
footer button[type="submit"]:active {
    border-bottom-width: 1px;
    margin-top: 3px;
}

article {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    margin-top: 60px;
}

footer > * {
    text-align: center;
}

footer nav {
    margin-top: 80px;
    margin-bottom: -150px;
}

footer nav * {
    font-size: 13px;
    opacity: 0.8;
}

section {
    overflow: hidden;
}

section:first-child {
    margin-top: -36px;
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
}

blockquote small {
    display: block;
}

small {
    font-size: 0.4em;
}

@media (min-width: 620px) {
    body {
        font-size: 18px;
    }
}
